<% include partials/header %>

<h1><%= campground.name%></h1>

<img class="img-thumbnail max-width: 50% height: auto" src="<%= campground.image %>">

<p><%= campground.description %></p>

<% include partials/footer %>